<div class="content-container">
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h5>Organization</h5>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="list-group">
                        <a class="list-group-item" href="#/offices" has-permission='READ_OFFICE'>
                            <h5 class="list-group-item-heading"><i class="fa fa-building fa fa-large"></i>&nbsp;&nbsp;{{'label.anchor.manageoffices'
                                | translate}}</h5>

                            <p class="list-group-item-text">{{'label.addnewofficeormodifyordeactivateofficeormodifyofficeheirarchy'
                                | translate}}</p>
                        </a>
                        <a class="list-group-item" href="#/agencies" has-permission='READ_AGENCY'>
                            <h5 class="list-group-item-heading"><i class="fa fa-building-o fa fa-large"></i>&nbsp;&nbsp;{{'label.anchor.manageagencies'
                            | translate}}</h5>

                            <p class="list-group-item-text">{{'label.addnewagencyormodifyagency'
                            | translate}}</p>
                        </a>
                        <a class="list-group-item" href="#/supervisions" has-permission='READ_SUPERVISION'>
                            <h5 class="list-group-item-heading"><i class="fa fa-credit-card fa fa-large"></i>&nbsp;&nbsp;{{'label.anchor.managesupervisions'
                            | translate}}</h5>

                            <p class="list-group-item-text">{{'label.addnewsupervisionormodifysupervision'
                            | translate}}</p>
                        </a>
                        <a class="list-group-item" href="#/portfolios" has-permission='MANAGEMENT_PORTFOLIO'>
                            <h5 class="list-group-item-heading"><i class="fa fa-book fa fa-large"></i>&nbsp;&nbsp;{{'label.anchor.manageportfolios'
                            | translate}}</h5>

                            <p class="list-group-item-text">{{'label.addnewportfolioormodifyportfolio'
                            | translate}}</p>
                        </a>
                        <a class="list-group-item" href="#/planningportfolios" has-permission='PLANNING_PORTFOLIO'>
                            <h5 class="list-group-item-heading"><i class="fa fa-book fa fa-large"></i>&nbsp;&nbsp;{{'label.anchor.portfoliosplanning'
                            | translate}}</h5>

                            <p class="list-group-item-text">{{'label.portfolioplanning'
                            | translate}}</p>
                        </a>
                        <a class="list-group-item" href="#/holidays" has-permission='READ_HOLIDAY'>
                            <h5 class="list-group-item-heading"><i class="fa fa-calendar fa fa-large"></i>&nbsp;&nbsp;{{'label.anchor.manageholidays'
                                | translate}}</h5>

                            <p class="list-group-item-text">{{'label.defineholidaysforoffices' | translate}}</p>
                        </a>
                        <a class="list-group-item" href="#/employees" has-permission='READ_STAFF'>
                            <h5 class="list-group-item-heading"><i class="fa fa-user fa fa-large"></i>&nbsp;&nbsp;{{'label.anchor.manageemployees'
                                | translate}}</h5>

                            <p class="list-group-item-text">{{'label.aemployeerepresentsloanofficerswithnoaccesstosystem' |
                                translate}}</p>
                        </a>
                        <a class="list-group-item" href="#/standinginstructions/history" has-permission='READ_STANDINGINSTRUCTION'>
                            <h5 class="list-group-item-heading"><i class="fa fa-book fa fa-large"></i>&nbsp;&nbsp;
                                {{'label.anchor.standinginstruction.history' | translate}}</h5>

                            <p class="list-group-item-text">{{'label.view.standinginstructions.history.logging' |
                                translate}}</p>
                        </a>
                     <!--   <a class="list-group-item" href="#/advsearch">
                            <h5 class="list-group-item-heading"><i class="fa fa-large fa fa-money"></i>&nbsp;&nbsp;
                                {{'label.anchor.fund.mapping' | translate}}</h5>

                            <p class="list-group-item-text">{{'label.view.advance.search.fund.mapping' |
                                translate}}</p>
                        </a>-->
                        <a class="list-group-item" href="#/passwordpreferences" has-permission='READ_PASSWORD_VALIDATION_POLICY'>
                            <h5 class="list-group-item-heading"><i class="fa fa-lock fa fa-large"></i>&nbsp;&nbsp;
                                {{'label.anchor.passwordPreferences' | translate}}</h5>

                            <p class="list-group-item-text">{{'label.view.passwordPreferences' |
                                translate}}</p>
                        </a>
                        <a class="list-group-item" href="#/viewallprovisionings" has-permission='VIEW_PROVISIONS'>
                            <h5 class="list-group-item-heading"><i class="fa fa-pencil fa fa-large"></i>&nbsp;&nbsp;
                                {{'label.anchor.createprovisioningcriteria' | translate}}</h5>
                            <p class="list-group-item-text">{{'label.view.createprovisioningcriteria' | translate}}</p>
                        </a>
                        <a class="list-group-item" href="#/entitydatatablechecks" has-permission='READ_ENTITY_DATATABLE_CHECK'>
                            <h5 class="list-group-item-heading"><i class="fa fa-check fa fa-large"></i>&nbsp;&nbsp;
                                {{'label.anchor.entitydatatablechecks' | translate}}</h5>
                            <p class="list-group-item-text">{{'label.view.entitydatatablechecks' | translate}}</p>
                        </a>
                        <a class="list-group-item" href="#/adhocquery" has-permission='VIEW_ADHOC'>
                            <h5 class="list-group-item-heading"><i class="icon-large icon-double-angle-right"></i>&nbsp;&nbsp;
                                {{'label.anchor.adhoc' | translate}}</h5>
                            <p class="list-group-item-text">{{'label.view.adhocs' | translate}}</p>
                       </a>
                        <a class="list-group-item" href="#/approvechequesissuance" has-permission='APPROVEISSUANCE_LOAN'>
                            <h5 class="list-group-item-heading"><i class="fa fa-money fa fa-large"></i>&nbsp;&nbsp;
                                {{'label.anchor.approve.cheques.issuance' | translate}}</h5>
                            <p class="list-group-item-text">{{'label.view.approve.cheques.issuance' | translate}}</p>
                        </a>
                        <a class="list-group-item" href="#/printcheques" has-permission='AUTHORIZEISSUANCE_BANKCHEQUES'>
                            <h5 class="list-group-item-heading"><i class="fa fa-print fa fa-large"></i>&nbsp;&nbsp;
                                {{'label.anchor.print.cheques' | translate}}</h5>
                            <p class="list-group-item-text">{{'label.view.print.cheques' | translate}}</p>
                        </a>
                        <a class="list-group-item" href="#/committees" has-permission='READ_COMMITTEE'>
                            <h5 class="list-group-item-heading"><i class="fa fa-group fa fa-large"></i>&nbsp;&nbsp;{{'label.anchor.managecommittes'
                            | translate}}</h5>

                            <p class="list-group-item-text">{{'label.addnewcommitteeormodifycommittee'
                            | translate}}</p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="list-group">
                        <a class="list-group-item" href="#/currconfig" has-permission='READ_CURRENCY'>
                            <h5 class="list-group-item-heading"><i class="fa fa-large fa fa-cogs"></i>&nbsp;&nbsp;{{'label.anchor.currencyconfig'
                                | translate}}</h5>

                            <p class="list-group-item-text">{{'label.currenciesavailableacrossorganizationfordifferentproducts' |
                                translate}}</p>
                        </a>
                        <a class="list-group-item" href="#/managefunds" has-permission='READ_FUND'>
                            <h5 class="list-group-item-heading"><i class="fa fa-large fa fa-money"></i>&nbsp;&nbsp;{{'label.anchor.managefunds'
                                | translate}}</h5>

                            <p class="list-group-item-text">{{'label.fundsareassociatedwithloans' | translate}}</p>
                        </a>
                        <a class="list-group-item" href="#/bulkloan" has-permission='BULKREASSIGN_LOAN'>
                            <h5 class="list-group-item-heading"><i class="fa fa-money fa fa-large"></i>&nbsp;&nbsp;{{
                                'label.anchor.bulkloanreassignment' | translate}}</h5>

                            <p class="list-group-item-text">{{'label.easywaytoreassignalltheloanfromonelotoanotherlo' |
                                translate}}</p>
                        </a>
                        <a class="list-group-item" href="#/tellers" has-permission='READ_TELLER'>
                            <h5 class="list-group-item-heading"><i class="fa fa-money fa fa-large"></i>&nbsp;&nbsp;
                                {{'label.anchor.tellercashmanagement' | translate}}</h5>

                            <p class="list-group-item-text">{{'label.view.tellercashmanagement' |
                                translate}}</p>
                        </a>
                        <a class="list-group-item" href="#/workingdays" has-permission='READ_WORKINGDAYS'>
                            <h5 class="list-group-item-heading"><i class="fa fa-calendar fa fa-large"></i>&nbsp;&nbsp;
                                {{'label.anchor.workingDays' | translate}}</h5>

                            <p class="list-group-item-text">{{'label.view.workingDays' |
                                translate}}</p>
                        </a>
                        <a class="list-group-item" href="#/viewpaymenttype" has-permission='READ_PAYMENTTYPE'>
                            <h5 class="list-group-item-heading"><i class="fa fa-dollar fa fa-large"></i>&nbsp;&nbsp;
                                {{'label.anchor.paymentTypes' | translate}}</h5>
                            <p class="list-group-item-text">{{'label.view.paymentTypes' |
                                translate}}</p>
                        </a>
                        <a class="list-group-item" href="#/smscampaigns" has-permission='VIEW_SMSCAMPAIGNS'>
                            <h5 class="list-group-item-heading"><i class="fa fa-envelope fa fa-large"></i>&nbsp;&nbsp;
                                {{'label.anchor.smscampaings' | translate}}</h5>
                            <p class="list-group-item-text">{{'label.view.smscampaigns' | translate}}</p>
                        </a>
                        <a class="list-group-item" href="#/bulkimport" has-permission='VIEW_BULKIMPORT'>
                            <h5 class="list-group-item-heading"><i class="fa fa-upload fa fa-large"></i>&nbsp;&nbsp;
                                {{'label.anchor.bulkimport' | translate}}</h5>
                            <p class="list-group-item-text">{{'label.view.bulkimport' | translate}}</p>
                        </a>
                        <a class="list-group-item" href="#/banks" has-permission='READ_BANK'>
                            <h5 class="list-group-item-heading"><i class="fa fa-building fa fa-large"></i>&nbsp;&nbsp;
                                {{'label.anchor.bank' | translate}}</h5>
                            <p class="list-group-item-text">{{'label.view.banks' | translate}}</p>
                       </a>
                       <a class="list-group-item" href="#/chequebankaccounts" has-permission='READ_BANKACCOUNT'>
                        <h5 class="list-group-item-heading"><i class="fa fa-building fa fa-large"></i>&nbsp;&nbsp;
                            {{'label.anchor.bankaccounts' | translate}}</h5>
                        <p class="list-group-item-text">{{'label.view.bankaccounts' | translate}}</p>
                        </a>
                        <a class="list-group-item" href="#/bankcheques" has-permission='READ_BANKCHEQUES'>
                            <h5 class="list-group-item-heading"><i class="fa fa-building fa fa-large"></i>&nbsp;&nbsp;
                                {{'label.anchor.bankcheques' | translate}}</h5>
                            <p class="list-group-item-text">{{'label.view.bankcheques' | translate}}</p>
                        </a>
                        <a class="list-group-item" href="#/disburseloansbycheques" has-permission='DISBURSEBYCHEQUES_LOAN'>
                            <h5 class="list-group-item-heading"><i class="fa fa-building fa fa-large"></i>&nbsp;&nbsp;
                                {{'label.anchor.disburse.loans.by.cheques' | translate}}</h5>
                            <p class="list-group-item-text">{{'label.view.disburse.loans.by.cheques' | translate}}</p>
                        </a>
                        <a class="list-group-item" href="#/authorizechequesissuance" has-permission='AUTHORIZEISSUANCE_BANKCHEQUE'>
                            <h5 class="list-group-item-heading"><i class="fa fa-money fa fa-large"></i>&nbsp;&nbsp;
                                {{'label.anchor.authorize.cheques.issuance' | translate}}</h5>
                            <p class="list-group-item-text">{{'label.view.authorize.cheques.issuance' | translate}}</p>
                        </a>
                        <a class="list-group-item" href="#/payguaranteeswithcheques" has-permission='PAYGUARANTEEBYCHEQUE_BANKCHEQUE'>
                            <h5 class="list-group-item-heading"><i class="fa fa-money fa fa-large"></i>&nbsp;&nbsp;
                                {{'label.anchor.pay.guarantees.by.cheques' | translate}}</h5>
                            <p class="list-group-item-text">{{'label.view.pay.guarantees.by.cheques' | translate}}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
