<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li><a href="#/banks">{{'label.anchor.bank' | translate}}</a></li>
        <li class="active">{{'label.anchor.createbank' | translate}}</li>
    </ul>
    <div class="card">
    	<div class="content">
    		<div class="toolbar">
    			<h4>{{'label.anchor.createbank' | translate}}</h4>
    		</div>
    		<br/>
    		<form name="createbankform" novalidate="" class="form-horizontal" ng-controller="CreateBankController"
    		      rc-submit="submit()">
    		    <api-validate></api-validate>
    		    <fieldset>
					<!--bank code-->
					<div class="form-group">
						<label class="control-label col-sm-2">{{ 'label.input.bankcode' | translate }}<span class="required">*</span></label>
							<div class="col-sm-3">
								<input id="code" ng-autofocus="true" type="text" maxlength="5" name="code"
									   ng-model="formData.code" class="form-control" required late-Validate/>
								</div>
								<div class="col-sm-3">
									<form-validate valattributeform="createbankform" valattribute="code"/>
								</div>
					</div>
					<!--bank name-->
					<div class="form-group">
						<label class="control-label col-sm-2">{{ 'label.input.bankname' | translate }}<span
								class="required">*</span></label>
						<div class="col-sm-3">
							<input id="name" ng-autofocus="true" type="text" name="name" ng-model="formData.name" class="form-control"
								   required late-Validate/>
						</div>
						<div class="col-sm-3">
							<form-validate valattributeform="createbankform" valattribute="name"/>
						</div>
					</div>
					<!--cancel / submit buttons-->
    		        <div class="col-md-offset-3">
    		            <a id="cancel" href="#/banks">
    		                <button type="reset" class="btn btn-default">{{'label.button.cancel' | translate}}</button>
    		            </a>
    		            <button id="save" type="submit" class="btn btn-primary" has-permission='CREATE_BANK'>{{'label.button.save' | translate}}</button>
    		        </div>
    		    </fieldset>
    		</form>
    	</div>
    </div>
</div>