<div ng-controller="EditGroupPrequalificatoinController">
    <div>
        <ul class="breadcrumb">
            <li><a ng-href="{{ previousPageUrl }}">{{'label.anchor.prequalifications' | translate}}</a></li>
            <li class="active">{{'label.heading.editgroup.prequalification' | translate}}</li>
        </ul>
    </div>
    <api-validate></api-validate>
    <form name="groupDetailsForm" novalidate="" class="well form-inline" ng-submit="updatePreQualification()">
        <fieldset>
            <legend>{{ 'label.heading.editgroup.prequalification' | translate }}</legend>
            <table class="width100">
                <tr ng-if="groupingType==='group'">
                    <td class="width14">
                        <label>{{ 'label.input.agency' | translate }}<span class="required">*</span>:&nbsp;</label>
                    </td>
                    <td class="width36 paddedbottom10">
                        <select id="agency" ng-model="formData.agencyId"
                                ng-options="agency.id as agency.name for agency in agenciesList" value="{{agency.id}}"
                                class="form-control width170px" required late-validate>
                            <option style="display:none" value="">{{'label.input.agency' | translate}}</option>
                        </select>
                        <form-validate valattributeform="groupDetailsForm" valattribute="productId"/>
                    </td>

                    <td class="width14">
                        <label>{{ 'label.input.select.center' | translate }}<span
                                class="required">*</span>:&nbsp;</label>
                    </td>
                    <td class="width36 paddedbottom10">
                        <select id="centerId" ng-model="formData.centerId" chosen="centersList" ng-autofocus="true"
                                ng-options="pcenter.id as pcenter.name for pcenter in centersList"
                                value="{{pcenter.id}}"
                                class="form-control width170px" required="true" late-Validate>
                            <option style="display:none" value="">{{'label.input.select.center' | translate}}</option>
                        </select>
                        <form-validate valattributeform="groupDetailsForm" valattribute="centerId"/>
                    </td>

                </tr>
                <tr ng-if="centersList && centersList.length>0 && groupingType==='group'">
                    <td class="width14">
                        <label>{{ 'label.input.groupname' | translate }}<span class="required">*</span>:&nbsp;</label>
                    </td>
                    <td class="width36 paddedbottom10">
                        <input type="text" class="form-control" name="grpnm" ng-model="formData.groupName" id="grpnm" required>
                        <form-validate valattributeform="groupDetailsForm" valattribute="groupId"/>
                    </td>
                    <td class="width14">
                        <label>{{ 'label.input.prequalification.number' | translate }}<span
                                class="required">*</span>:&nbsp;</label>
                    </td>
                    <td class="width36 paddedbottom10">
                        <div class="alert alert-info">
                            <span>{{'label.input.prequalification.number'|translate}}: <span class="pull-right">{{formData.prequalificationNumber}}</span></span>
                        </div>
                    </td>
                </tr>
                <tr ng-if="productsList && productsList.length>0">
                    <td class="width14">
                        <label>{{ 'label.input.selectproduct' | translate }}<span
                                class="required">*</span>:&nbsp;</label>
                    </td>
                    <td class="width36 paddedbottom10">
                        <select id="product" ng-model="formData.productId"
                                ng-options="product.id as product.name for product in productsList"
                                value="{{product.id}}" required late-validate
                                class="form-control width170px">
                            <option style="display:none" value="">{{'label.input.selectproduct' | translate}}</option>
                        </select>
                        <form-validate valattributeform="groupDetailsForm" valattribute="product"/>
                    </td>
                </tr>
                <tr ng-if="facilitators && facilitators.length>0">
                    <td class="width14" ng-if="groupingType==='group'">
                        <label>{{ 'label.input.facilitator' | translate }}<span
                                class="required">*</span>:&nbsp;</label>
                    </td>
                    <td class="width36 paddedbottom10" ng-if="groupingType==='group'">
                        <select id="facilitator" ng-model="formData.facilitator"
                                ng-options="facilitator.id as facilitator.firstname + ' ' + facilitator.lastname + ' (' + facilitator.username + ')' for facilitator in facilitators"
                                value="{{facilitator.id}}" required late-validate
                                class="form-control width170px">
                            <option style="display:none" value="">{{'label.input..select.facilitator' | translate}}</option>
                        </select>
                        <form-validate valattributeform="groupDetailsForm" valattribute="facilitator"/>
                    </td>
                    <td class="width14" ng-if="editLifespan">
                        <label>{{ 'label.input.prequalification.duration' | translate }}<span
                                class="required">*</span>:&nbsp;</label>
                    </td>
                    <td class="width36 paddedbottom10" ng-if="editLifespan">
                        <input type="number" class="form-control" name="grpnm"
                               data-ng-model="formData.prequalilficationTimespan" id="duration" required>
                        <form-validate valattributeform="groupDetailsForm" valattribute="duration"/>
                    </td>
                </tr>

            </table>

            <hr/>
            <table class="width100" style="table-layout: fixed"
                   ng-if="formData.members && formData.members.length>0">
                <tr>
                    <th>{{'label.input.name'|translate}}</th>
                    <th>{{'label.input.dpi'|translate}}</th>
                    <th>{{'label.input.dateofbirth'|translate}}</th>
                    <th>{{'label.input.amount.requested'|translate}}</th>
                    <th>{{'label.input.work.with.puente' | translate}}</th>
                    <th ng-if="groupingType !== 'individual'">{{'label.input.president'|translate}}</th>
                    <th></th>
                </tr>

                <tr ng-repeat="member in formData.members">
                    <td>
                        <input type="text" class="form-control" name="name" ng-model="formData.members[$index].name" id="clientname_{{$index}}" required>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="dpi" ng-model="formData.members[$index].dpi"
                               id="dpi_{{$index}}" required>
                    </td>
                    <td>
                        <input id="dateOfBirth_{{$index}}" type="text" name="dateOfBirth" datepicker-pop="dd MMMM yyyy"
                               ng-model="formData.members[$index].dateOfBirth" is-open="opened1" min="minDate" max="restrictDate"
                               class="form-control" required/>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="amount"
                               ng-model="formData.members[$index].requestedAmount"
                               ng-disabled="!member.canUpdate" id="amount_{{$index}}" required>
                    </td>
                    <td>
                        <select id="puente_{{$index}}" ng-model="formData.members[$index].workWithPuente"
                                ng-options="item.value as item.name for item in yesNo" value="{{item.value}}"
                                class="form-control" style="width: 90% !important;" required>
                            <option style="display:none" value="">{{'label.input.work.with.puente' | translate}}</option>
                        </select>
                    </td>
                    <td ng-if="groupingType !== 'individual'">
                        <div class="checkbox form-group">
                            <label for="isSelected">
                                <input type="checkbox" id="isSelected" name="isSelected" ng-model="formData.members[$index].groupPresident" ng-change="updatePresident($index)">
                            </label>
                        </div>
                    </td>
                    <td><a ng-click="removeMember($index)" uib-tooltip="{{'label.remove.row' | translate}}"><i class="fa fa-times"></i></a></td>
                </tr>
            </table>

            <hr/>
            <span class="text-danger" ng-if="formData.members && formData.members.length>0 && !presidentSelected && groupingType!='individual' ">{{'label.anchor.president.not.selected'| translate}}</span>
            <div class="text-center">
                <a id="cancel" ng-href="{{ previousPageUrl }}" class="btn btn-default">{{'label.button.cancel' |
                translate}}</a>
                <button id="submit" type="submit" class="btn btn-primary" ng-disabled="formData.members.length<=0 || ((groupingType!='individual' && !formData.group && !formData.groupName)?true : false)"
                        has-permission='UPDATE_PREQUALIFICATIONS'>{{'label.button.validate.blacklist' | translate}}</button>
            </div>
        </fieldset>
    </form>
    <hr/>

    <legend>{{ 'label.heading.add.groupmembers' | translate }}</legend>

    <ui-validate></ui-validate>

    <form name="memberDetailsForm" novalidate="" rc-submit="addMemberData()">

        <table class="width100" style="table-layout: fixed">
            <tr>
                <th>{{'label.input.name'|translate}}</th>
                <th>{{'label.input.dpi'|translate}}</th>
                <th>{{'label.input.dateofbirth'|translate}}</th>
                <th>{{'label.input.amount.requested'|translate}}</th>
                <th>{{'label.input.work.with.puente' | translate}}</th>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control" name="name"
                           placeholder="{{'label.heading.clientname'|translate}}"
                           ng-model="membersForm.name" id="clientname" required>
                    <form-validate valattributeform="memberDetailsForm" valattribute="name"/>
                </td>
                <td>
                    <input type="text" class="form-control" name="dpi"
                           placeholder="{{'label.input.dpi' | translate}}" ng-model="membersForm.dpi"
                           id="dpi" required>
                    <form-validate valattributeform="memberDetailsForm" valattribute="dpi"/>
                </td>
                <td>
                    <input id="dateOfBirth" type="text" name="dateOfBirth" datepicker-pop="dd MMMM yyyy"
                           ng-model="membersForm.dateOfBirth" is-open="opened1" min="minDate" max="restrictDate"
                           class="form-control" required/>
                    <form-validate valattributeform="memberDetailsForm" valattribute="dateOfBirth"/>
                </td>

                <td>
                    <input type="text" class="form-control" name="amount"
                           placeholder="{{'label.input.amount.requested' |translate}}"
                           ng-model="membersForm.requestedAmount" id="amount" required>
                    <form-validate valattributeform="memberDetailsForm" valattribute="amount"/>
                </td>

                <td>
                    <select id="puente" ng-model="membersForm.workWithPuente"
                            ng-options="item.value as item.name for item in yesNo" value="{{item.value}}"
                            class="form-control" required="required" required>
                        <option style="display:none" value="">{{'label.input.work.with.puente' | translate}}</option>
                    </select>
                    <form-validate valattributeform="memberDetailsForm" valattribute="puente"/>
                </td>

                <td class="text-center">
                    <button id="save" class="btn btn-primary" ng-disabled="formData.members.length==1 && groupingType==='individual'" type="submit"><i class="fa fa-plus" has-permission='CREATE_PREQUALIFICATIONS'> {{'label.button.add' | translate}}</i>
                    </button>
                </td>
            </tr>
        </table>
    </form>

</div>
