<div ng-controller="PrequalificationDetailsController">
    <div class="card">
        <api-validate></api-validate>

        <div class="content">
            <div class="toolbar">
                <ul class="breadcrumb">
                    <li><a ng-href="{{ previousPageUrl }}">{{'label.anchor.prequalifications' | translate}}</a></li>
                    <li class="active">{{'label.anchor.prequalification.details' | translate}}</li>
                </ul>
            </div>
            <hr/>
            <div class="row">
                <div class="col-sm-6">
                    <div class="alert alert-info">
                        <span>{{'label.input.prequalification.number' | translate}}: <span
                                class="pull-right">{{groupData.prequalificationNumber}}</span></span>
                    </div>
                    <div class="alert alert-info">
                        <span>{{'label.input.groupname' | translate}}: <span
                                class="pull-right">{{groupData.groupName}}</span></span>
                    </div>
                    <div class="alert alert-info">
                        <span>{{'label.input.productname' | translate}}: <span
                                class="pull-right">{{groupData.productName}}</span></span>
                    </div>
                    <div class="alert alert-info" ng-if="groupData.createdAt">
                        <span>{{'label.heading.createdAt' | translate}}: <span
                                class="pull-right">{{groupData.createdAt | DateTimeFormat}}</span></span>
                    </div>
                    <div class="alert alert-info" ng-if="groupData.processType">
                        <span>{{'label.heading.processtype' | translate}}: <span
                                class="pull-right">{{groupData.processType}}</span></span>
                    </div>
                    <div class="alert alert-info" ng-if="groupData.processQuality">
                        <span>{{'label.heading.processquality' | translate}}: <span
                                class="pull-right">{{groupData.processQuality}}</span></span>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="alert alert-info">
                        <span>{{'label.input.agency' | translate}}: <span
                                class="pull-right">{{groupData.agencyName}}</span></span>
                    </div>
                    <div class="alert alert-info">
                        <span>{{'label.input.center' | translate}}: <span
                                class="pull-right">{{groupData.centerName}}</span></span>
                    </div>
                    <div class="alert alert-info">
                        <span>{{'label.input.addedBy' | translate}}: <span
                                class="pull-right">{{groupData.addedBy}}</span></span>
                    </div>
                    <div class="alert alert-info h4">
                        <span>{{'label.input.status' | translate}}: <span
                                class="pull-right fa fa-stop {{groupData.status.code | StatusLookup}}"
                                uib-tooltip-placement="right" uib-tooltip="{{groupData.status.code|translate}}">
                            {{groupData.status.code|translate}} </span>
                        </span>
                    </div>

                    <div class="alert alert-info" ng-if="groupData.statusChangedOn ">
                        <span>{{'label.heading.updatedon' | translate}}: <span
                                class="pull-right">{{groupData.statusChangedOn | DateFormat}}</span></span>
                    </div>
                    <div class="alert alert-info">
                        <span>{{'label.heading.updatedby' | translate}}: <span
                                class="pull-right">{{groupData.statusChangedBy}}</span></span>
                    </div>

                    <div class="alert alert-default h5" ng-if="groupData.comments">
                        <span>{{'label.input.comments' | translate}}: <span
                                class="pull-right">{{groupData.comments}}</span></span>
                    </div>
                </div>

            </div>
            <hr/>
            <div class="toolbar" data-ng-show="viewPolicyCheckResults">
                <h4>{{'label.heading.prequalification.validation.result' | translate}} </h4><i
                    ng-click="routeTo('/prequalification/'+groupId+'/validations')"
                    class="fa fa-circle fa-2x {{policyCheckColor(groupData)}}">{{policyCountColor(groupData)}}</i>
            </div>
            <h5 ng-if="groupMembers && groupMembers.length>0">{{'label.heading.members' | translate }}</h5>
            <table class="width100" style="table-layout: fixed"
                   ng-if="groupMembers && groupMembers.length>0">
                <tr>
                    <th class="graybg">{{'label.input.name' | translate}}</th>
                    <th class="graybg">{{'label.input.dpi' | translate}}</th>
                    <th class="graybg">{{'label.input.dateofbirth' | translate}}</th>
                    <th class="graybg">{{'label.input.work.with.puente' | translate}}</th>
                    <th class="graybg">{{'label.input.amount.requested' | translate}}</th>
                    <th class="graybg">{{'label.input.blacklist.status' | translate}}</th>
                    <th class="graybg">{{'label.input.bureau.status' | translate}}</th>
                    <th class="graybg" data-ng-show="viewPolicyCheckResults">{{'label.heading.hard.policy.status' | translate}}</th>
                    <th class="graybg" ng-if="groupData.groupId">{{'label.input.totalLoanAmount' | translate}}</th>
                    <th class="graybg" ng-if="groupData.groupId">{{'label.input.totalLoanBalance' | translate}}</th>
                    <th class="graybg" ng-if="groupData.groupId">{{'label.input.totalGuaranteedLoanBalance' | translate}}</th>
                    <th class="graybg" ng-if="groupData.groupId">{{'label.input.noOfCycles' | translate}}</th>
                    <th class="graybg" ng-if="groupData.groupId">{{'label.input.additionalCreditsCount' | translate}}</th>
                    <th class="graybg" ng-if="groupData.groupId">{{'label.input.additionalCreditsSum' | translate}}</th>
                </tr>

                <tr ng-repeat="member in groupMembers" class="pointer-main">
                    <td class="pointer" data-ng-click="routeToClientView(member.clientId)">{{member.name}} {{member.groupPresident?'label.anchor.president':'' | translate}}</td>
                    <td class="pointer" data-ng-click="routeToClientView(member.clientId)">{{member.dpi}}</td>
                    <td class="pointer" data-ng-click="routeToClientView(member.clientId)">{{member.dob | DateFormat}}</td>
                    <td class="pointer" data-ng-click="routeToClientView(member.clientId)">{{member.workWithPuente}}</td>
                    <td class="pointer">{{member.requestedAmount |number}}</td>
                    <td>
                        <i class="fa fa-circle fa-2x {{resolveMemberStatus(member.status.value)}}">{{member.blacklistCount}}</i>
                    </td>
                    <td class="pointer" style="font-size: 25px">
                        <i ng-if="member.bureauCheckStatus" class="fa fa-circle {{member.bureauCheckStatus.value| StatusLookup}}" ng-click="viewBuroResult(member.id)"></i>
                        {{member.bureauCheckStatus.code}}
                    </td>
                    <td data-ng-show="viewPolicyCheckResults">
                        <i class="fa fa-circle fa-2x {{policyCheckColor(member)}}"
                           ng-click="viewHardPolicyValidation(member.id)">{{policyCountColor(member)}}</i></td>
                    <td ng-if="groupData.groupId">{{member.totalLoanAmount | number}}</td>
                    <td ng-if="groupData.groupId">{{member.totalLoanBalance | number}}</td>
                    <td ng-if="groupData.groupId">{{member.totalGuaranteedLoanBalance | number}}</td>
                    <td ng-if="groupData.groupId">{{member.noOfCycles}}</td>
                    <td ng-if="groupData.groupId">{{member.additionalCreditsCount}}</td>
                    <td ng-if="groupData.groupId">{{member.additionalCreditsSum | number}}</td>

                </tr>
            </table>
            <hr/>
            <div>
                <button ng-if="groupData.status.value==='BURO_CHECKED'" id="validate" class="btn btn-success"
                        ng-click="validateHardPolicy()" type="button" value="validate"
                        has-permission='VALIDATEHARDPOLICIES_PREQUALIFICATION_CHECKLIST'>
                    {{'label.validate.hard.policy' | translate}}
                </button>
            </div>

            <div class="text-center">
                <!--
               <button ng-if="groupData.status.value==='HARD_POLICY_CHECKED'"
                       ng-click="validateHardPolicy()" type="button" class="btn btn-primary"
                        has-permission='VALIDATEHARDPOLICIES_PREQUALIFICATION_CHECKLIST'>
                    {{'label.button.prequalification.submitToReview' | translate}}
                </button>
                -->

                <!-- Action buttons related to prequalification individual when current status is HARD_POLICY_CHECKED -->
                <button ng-if="groupData.status.value==='HARD_POLICY_CHECKED'"
                        ng-click="requestForUpdates()" type="button" class="btn btn-warning"
                       has-permission='REQUESTUPDATE_PREQUALIFICATIONS'>
                   {{'label.button.prequalification.requestUpdates' | translate}}
                </button>

                <button ng-if="groupData.status.value==='HARD_POLICY_CHECKED'"
                        ng-click="processAnalysisRequest('sendtoagency','label.button.sendtoagency')"
                        type="button" class="btn btn-primary"
                        has-permission='VALIDATEHARDPOLICIES_PREQUALIFICATION_CHECKLIST'>
                    {{'label.button.sendtoagency' | translate}}
                </button>

                <button ng-if="groupData.status.value==='CONSENT_ADDED'" ng-click="validateBeaural()" type="button"
                        class="btn btn-primary"
                        has-permission='VALIDATE_BUREAU'>{{'label.button.prequalification.buralValidation' | translate}}
                </button>
            </div>

            <div>
                <div ng-if="errorMsg" class="alert alert-danger">{{errorMsg|translate}}</div>

                <api-validate></api-validate>
            </div>
            <hr/>
            <table class="table" ng-if="prequalificationDocuments.length > 0">
                <thead>
                <tr class="graybg">
                    <th>{{'label.heading.name' | translate}}</th>
                    <th>{{'label.heading.description' | translate}}</th>
                    <th>{{'label.heading.filename' | translate}}</th>
                    <th>{{'label.heading.actions' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="document in prequalificationDocuments">
                    <td>{{document.name}}</td>
                    <td>{{document.description}}</td>
                    <td>{{document.fileName}}</td>
                    <td>
                        <a target="_blank" href="{{hostUrl}}{{document.docUrl}}"><i
                                class="fa fa-cloud-download"></i></a>&nbsp;
                        <!--                        <a ng-show="document.fileIsImage" ng-click="previewDocument(document.docUrl,document.fileName)"><i class="fa fa-eye"></i></a>-->
                        <!--                        <a ng-click="deleteDocument(document.id,$index)"><i class="fa fa-times"></i></a>-->
                    </td>
                </tr>
                </tbody>
            </table>


            <form name="prequalForm" novalidate="" class="card form-horizontal well" rc-submit="submit()"
                  ng-if="prequalificationDocuments.length<=0" data-ng-show="showSupportDocumentUploadPage()">
                <fieldset>
                    <div class="form-group">
                        <label class="control-label col-sm-2"
                               for="comments">{{'label.heading.comments' | translate}}</label>

                        <div class="col-sm-3">
                                <textarea id="comments" rows="4" ng-model="formData.comments"
                                          class="form-control" required></textarea>
                        </div>
                    </div>
                    <hr/>
                    <legend>{{'label.anchor.uploadDocuments' | translate}}</legend>

                    <div class="form-group">
                        <label class="control-label col-sm-2"
                               for="concentDocs">{{'label.input.supportingDocuments' | translate}}<span
                                class="required">*</span></label>

                        <div class="col-sm-3">
                            <input id="concentDocs" type="file" ngf-select="onFileSelect($files)"
                                   name="concentDocs"
                                   accept="zip,application/zip,application/x-zip,application/x-zip-compressed"
                                   ng-model="formData.fileUpload"
                                   required="required" class="form-control" late-Validate/>
                        </div>
                        <div class="col-sm-3">
                            <form-validate valattributeform="prequalForm" valattribute="concentDocs"/>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-sm-2"
                               for="description">{{'label.input.description' | translate}}</label>

                        <div class="col-sm-3">
                                <textarea id="description" rows="2" ng-model="formData.description"
                                          class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="col-md-offset-3">
                        <a id="cancel" ng-href="{{ previousPageUrl }}">
                            <button type="reset" class="btn btn-default">{{'label.button.cancel' | translate}}
                            </button>
                        </a>
                        <button id="save" type="submit" has-permission='UPDATE_PREQUALIFICATIONS'
                                class="btn btn-primary">{{'label.button.save' | translate}}
                        </button>
                    </div>

                </fieldset>
            </form>

        </div>
    </div>

    <script type="text/ng-template" id="viewBuroResult.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.heading.member.buro.result' | translate}}</h3>
        </div>
        <div class="modal-body">
            <div>
                <p>{{buroCheckResult.resumen}}</p>
            </div>
            <br>
            <div class="text-center">
                <button class="btn btn-warning" ng-click="cancel()">{{'label.button.close' | translate}}</button>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="viewMemberHardPolicy.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.heading.member.hardpolicy' | translate}}</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div ng-repeat=" results in memberResults.rows">
                    <div ng-repeat="member in results track by $index" ng-if="member.toUpperCase()==='RED'|| member.toUpperCase()==='YELLOW'|| member.toUpperCase()==='ORANGE'" >
                        <div class="alert alert-info"><span class="h4">{{memberResults.columnHeaders[$index] |translate}}
                            <span class="pull-right {{checkValidationColor(member)}}">
                                <span ng-if="colorLabel(member)">{{colorLabel(member)|translate}}</span>
                                <span ng-if="!colorLabel(member)">{{member}}</span>
                            </span></span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="text-center">
                <button class="btn btn-warning" ng-click="cancel()">{{'label.button.close' | translate}}</button>
            </div>

        </div>
    </script>
    <script type="text/ng-template" id="requestForUpdatesView.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.heading.prequalification.requestUpdates' | translate}}</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div>
                    <div class="form-group">
                        <label class="control-label col-sm-4"
                               for="comms">{{'label.input.comments' | translate}}<span
                                class="required">*</span></label>

                        <div class="col-sm-8">
                            <textarea type="text" class="form-control" name="grpnm" rows="5"
                                      placeholder="{{'label.input.comments'|translate}}"
                                      data-ng-model="updateData.comments" id="comms" required></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="text-center">
                <button class="btn btn-primary" ng-disabled="!updateData.comments" ng-click="submit()">{{'label.button.submit' | translate}}</button>
                <button class="btn btn-warning"  ng-click="cancel()">{{'label.button.close' | translate}}</button>
            </div>

        </div>
    </script>
    <script type="text/ng-template" id="confirmationModal.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.heading.confirm' | translate}}</h3>
        </div>
        <div class="modal-body">
            <div class="alert alert-info">
                {{'confirmation.message.first.part.one' | translate}} <strong>{{confirmationMessage|translate}}</strong> {{'confirmation.message.first.part.two' | translate}}
            </div>
            <br>
            <div class="text-center">
                <button class="btn btn-primary" ng-click="confirm()">{{'label.button.confirm' | translate}}</button>
                <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
            </div>
        </div>
    </script>
</div>
