<div class="content-container">
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h5>{{'label.anchor.prequalifications' | translate }}</h5>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <div class="list-group">
                        <a class="list-group-item" href="#/prequalificationGroups/new" has-permission='CREATE_PREQUALIFICATIONS'>
                            <h5 class="list-group-item-heading">
                                <i class="fa fa-large fa fa-cogs"></i>&nbsp;&nbsp;{{'label.heading.groupcredit.prequalification'
                            | translate}}</h5>
                        </a>
                    </div>
<!--                     <div class="list-group">
                        <a class="list-group-item" href="#/prequalifications/newprequalification/existing" has-permission='VIEW_PREQUALIFICATIONS'>
                            <h5 class="list-group-item-heading">
                                <i class="fa fa-large fa fa-cogs"></i>&nbsp;&nbsp;{{'label.heading.existinggroup.prequalification'
                            | translate}}</h5>
                        </a>
                    </div> -->
<!--                     <div class="list-group">
                        <a class="list-group-item" href="#/prequalificationGroups/chanimcredit" has-permission='VIEW_PREQUALIFICATIONS'>
                            <h5 class="list-group-item-heading">
                                <i class="fa fa-large fa fa-cogs"></i>&nbsp;&nbsp;{{'label.heading.chanimcredit.prequalification'
                            | translate}}</h5>
                        </a>
                    </div> -->
                </div>

                <div class="col-sm-6">
<!--                     <div class="list-group">
                        <a class="list-group-item" href="#/prequalificationGroups/parallelcredit" has-permission='VIEW_PREQUALIFICATIONS'>
                            <h5 class="list-group-item-heading">
                                <i class="fa fa-large fa fa-cogs"></i>&nbsp;&nbsp;{{'label.heading.parallelcredit.prequalification'
                            | translate}}</h5>
                        </a>
                    </div> -->
                    <div class="list-group">
                        <a class="list-group-item" href="#/prequalifications/individualprequalifications" has-permission='VIEW_PREQUALIFICATIONS'>
                            <h5 class="list-group-item-heading">
                                <i class="fa fa-large fa fa-cogs"></i>&nbsp;&nbsp;{{'label.heading.indidualcredit.prequalification'
                            | translate}}</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
