<div class="content-container" ng-controller="PayGuaranteesWithChequesController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li class="active">{{'label.heading.pay.guarantees.by.cheques' | translate}}</li>
    </ul>
    <script type="text/ng-template" id="assignGuaranteeCheques.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.heading.assign.cheques.to.loans' | translate}}</h3>
        </div>
        <div class="modal-body ">
            <api-validate></api-validate>
            <br>
            <div class="form-group">
                <label for="bankAccId">{{'label.heading.select.bank.account' | translate}}</label>
                <select id="bankAccId"
                        name="bankAccId"
                        ng-model="bankAccId"
                        class="form-control"
                        ng-options="bankAccountData.bankAccId as bankAccountData.accountName for bankAccountData in bankAccountOptions"
                        value="{{bankAccountData.bankAccId}}">
                </select>
            </div>
            <br>
            <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="assign()">{{'label.button.assign' | translate}}</button>
        </div>
    </script>
    <api-validate></api-validate>
    <div class="card">
        <div class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="toolbar">
                        <h4 class="pull-left">{{'label.heading.pay.guarantees.by.cheques' | translate}}</h4>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <form ng-submit="search()" class="form-horizontal">
                        <div class="pull-left">
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="input-group" style="width: 400px">
                                        <input data-ng-model="searchText" type="text"
                                               placeholder="{{'label.input.searchbycaseid' | translate}}"
                                               class="form-control unstyled"/>
                                        <span class="input-group-btn">
                                            <button type="submit"  class="btn btn-primary form-control" ng-disabled="!searchText">
                                                <span class="fa fa-search"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br/>

            <form novalidate="" ng-submit="payGuaranteesByCheques()">
                <table class="table">
                    <ui-validate></ui-validate>
                    <thead>
                        <tr class="graybg">
                            <th>
                                <div class="checkbox form-group">
                                    <label for="isAllGuaranteeSelected">
                                        <input type="checkbox" id="isAllGuaranteeSelected" name="isAllGuaranteeSelected" ng-model="isAllGuaranteeSelected" data-ng-change="selectAllGuarantees()">
                                    </label>
                                </div>
                            </th>
                            <th>{{'label.heading.id' | translate}}</th>
                            <th>{{'label.heading.clientno' | translate}}</th>
                            <th>{{'label.heading.clientname' | translate}}</th>
                            <th>{{'label.heading.withdrawalreason' | translate}}</th>
                            <th>{{'label.heading.requestedAmount' | translate}}</th>
                            <th>{{'label.heading.status' | translate}}</th>
                            <th>{{'label.heading.caseid' | translate}}</th>
                            <th ng-show="isChequeAssigned">{{'label.heading.bank.account.name' | translate}}</th>
                            <th ng-show="isChequeAssigned">{{'label.heading.chequeNo' | translate}}</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="guaranteeData in guaranteeDataList track by $index">
                            <td>
                                <div class="checkbox form-group">
                                    <label for="isSelected">
                                        <input type="checkbox" id="isSelected" name="isSelected" ng-model="guaranteeData.isSelected">
                                    </label>
                                </div>
                            </td>
                            <td>{{guaranteeData.id}}</td>
                            <td>{{guaranteeData.clientNo}}</td>
                            <td>{{guaranteeData.clientName}}</td>
                            <td>{{guaranteeData.withdrawalReason}}</td>
                            <td>{{guaranteeData.requestedAmount}}</td>
                            <td>{{guaranteeData.status}}</td>
                            <td>{{guaranteeData.caseId}}</td>
                            <td ng-show="isChequeAssigned">{{guaranteeData.chequeData.accountName}}</td>
                            <td ng-show="isChequeAssigned">
                                <i uib-tooltip-placement="right" uib-tooltip="{{guaranteeData.chequeData.chequeName}}">
                                    {{guaranteeData.chequeData.chequeNo}}
                                </i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div class="col-md-offset-2 paddedleft">
                    <a id="cancel" href="#/organization" class="btn btn-default">{{'label.button.cancel' | translate}}</a>
                    <a ng-disabled="isAssignBtnDisabled()" ng-click="assignGuaranteeCheques()" class="btn btn-primary" has-permission='PAYGUARANTEEBYCHEQUE_BANKCHEQUE'><i class="fa fa-tasks "></i>&nbsp;&nbsp;{{
                        'label.button.assigncheques' | translate }}</a>
                    <button ng-disabled="!isChequeAssigned"  id="save" type="submit" class="btn btn-primary" has-permission='PAYGUARANTEEBYCHEQUE_BANKCHEQUE'>{{'label.button.pay' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
