<div class="content-container" ng-controller="ReassignChequeController">
    <div>
        <ul class="breadcrumb">
            <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
            <li><a href="#/chequebankaccounts">{{'label.anchor.bankcheques' | translate}}</a></li>
            <li><a href="#/viewchequeaccount/{{chequeData.bankAccId}}">{{chequeData.accountName}}</a></li>
            <li><a href="#/viewdetails/{{chequeData.batchId}}/cheque/{{chequeData.id}}">(Cheque No. {{chequeData.chequeNo}} - {{chequeData.batchId}})</a></li>
            <li class="active">{{'label.button.reassign.cheque' | translate}}</li>
        </ul>
    </div>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4>{{'label.button.reassign.cheque' | translate}}</h4>
            </div>
            <br>
            <form name="reassigncheque" novalidate="" class="form-horizontal" rc-submit="submit()">
                <api-validate></api-validate>
                <fieldset>
                    <div class="form-group">
                        <label class="control-label col-sm-2" >{{'label.heading.bank.account.name' | translate}}</label>
                        <div class="col-sm-5">
                            <input name="accountName" ng-model="formData.accountName" type="text" class="form-control" disabled/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" >{{'label.heading.batchNo' | translate}}</label>
                        <div class="col-sm-3">
                            <input name="from" ng-model="formData.batchNo" type="text" class="form-control" disabled/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" >{{'label.heading.old.chequeNo' | translate}}</label>
                        <div class="col-sm-3">
                            <input name="from" ng-model="formData.oldChequeNo" type="text" class="form-control" disabled/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="chequeId">{{'label.heading.new.chequeNo' | translate}}<span
                                class="required">*</span></label>

                        <div class="col-sm-3">
                            <div>
                                <select id="chequeId" name="chequeId"
                                        ng-model="formData.chequeId"
                                        class="form-control"
                                        ng-options="chequeOption.id as chequeOption.chequeNo for chequeOption in chequeOptions"
                                        value="{{chequeOption.id}}">
                                    <option value="">--{{'label.select.new.cheque' | translate}}--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <form-validate valattributeform="reassigncheque" valattribute="chequeId"></form-validate>
                        </div>
                    </div>
                    <div class="col-md-offset-2 paddedleft">
                        <a id="cancel" href="#/viewdetails/{{chequeData.batchId}}/cheque/{{chequeData.id}}" class="btn btn-default">{{'label.button.cancel' | translate}}</a>
                        <button id="save" type="submit" class="btn btn-primary" has-permission='REASSIGN_BANKCHEQUE'>{{'label.button.save' | translate}}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
