<div class="content-container" ng-controller="ViewChequeBatchController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li><a href="#/chequebankaccounts">{{'label.heading.bankaccount' | translate}}</a></li>
        <li><a href="#/viewchequeaccount/{{batchData.bankAccId}}">{{accountName}}</a></li>
        <li class="active">{{'label.heading.chequebatch' | translate}}</li>
    </ul>
    <script type="text/ng-template" id="deleteChequeBatch.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.heading.delete' | translate}}</h3>
        </div>
        <div class="modal-body ">
            <api-validate></api-validate>
            <br>
            <label class="control-label col-sm-4">Are you sure to delete this batch? </label>

            <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="delete()">{{'label.button.confirm' | translate}}</button>
        </div>
    </script>
    <api-validate></api-validate>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4 class="pull-left">{{'label.heading.chequebatch' | translate}} ({{'label.heading.batchNo' | translate}} {{batchData.batchNo}})</h4>
            </div>
            <br>
            <div>
                <table class="table-bordered table view-table" style="width: 500px">
                    <tr class="graybg">
                        <td>{{'label.heading.bank.agency.name' | translate}}</td>
                        <td>{{batchData.agencyName}}</td>
                    </tr>
                    <tr>
                        <td>{{'label.heading.bank.account.name' | translate}}</td>
                        <td>{{batchData.accountName}}</td>
                    </tr>
                    <tr class="graybg">
                        <td>{{'label.heading.bank.name' | translate}}</td>
                        <td>{{batchData.bankName}}</td>
                    </tr>
                    <tr>
                        <td>{{'label.heading.batchNo' | translate}}</td>
                        <td>{{batchData.batchNo}}</td>
                    </tr>
                </table>

                <br>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="pull-left">
                            <form ng-submit="search()" class="form-horizontal">
                                <div class="form-group">
                                    <div class="input-group">
                                        <label class="control-label col-sm-2">{{'label.heading.chequeNo' | translate}}</label>
                                        <div class="col-sm-4">
                                            <input type="text" id="chequeNo" name="chequeNo" ng-model="formData.chequeNo" class="form-control" placeholder="{{'label.input.searchbychequeno' | translate}}"/>
                                        </div>
                                        <label class="control-label col-sm-2">{{'label.input.status' | translate}}</label>
                                        <div class="col-sm-4">
                                            <div>
                                                <select id="chequeStatusId" name="chequeStatusId"
                                                        ng-model="formData.status"
                                                        class="form-control"
                                                        ng-options="status.id as status.value for status in statusOptions"
                                                        value="{{status.id}}">
                                                    <option value="">--{{'label.selectstatus' | translate}}--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <span class="input-group-btn"><button class="btn btn-primary form-control"><span class="fa fa-search"></span></button></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="pull-right">
                            <a href="#/editchequebatch/{{batchData.id}}" class="btn btn-primary" has-permission='UPDATE_BANKCHEQUE'><i class="fa fa-edit "></i>&nbsp;&nbsp;{{
                                'label.button.edit' | translate }}</a>
                            <button type="button" ng-click="deleteChequeBatch()" class="btn btn-danger" has-permission='DELETE_BANKCHEQUE'><i
                                    class="fa fa-trash-o"></i>&nbsp;&nbsp;{{ 'label.button.delete' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <hr/>



            </div>
            <br/>
            <table class="table">
                <thead>
                <tr class="graybg">
                    <th>{{'label.heading.chequeNo' | translate}}</th>
                    <th>{{'label.heading.batchNo' | translate}}</th>
                    <th>{{'label.heading.status' | translate}}</th>
                    <th>{{'label.heading.description' | translate}}</th>
                    <th>{{'label.heading.createdon' | translate}}</th>
                    <th>{{'label.heading.createdby' | translate}}</th>
                </tr>
                </thead>

                <tbody>
                <tr class="pointer-main" dir-paginate="cheque in cheques | orderBy:'chequeNo':reverse | itemsPerPage: chequesPerPage" total-items="totalCheques" pagination-id="cheques">
                    <td class="pointer" data-ng-click="routeTo(cheque.id)">{{cheque.chequeNo}}</td>
                    <td class="pointer" data-ng-click="routeTo(cheque.id)">{{cheque.batchNo}}</td>
                    <td class="pointer" data-ng-click="routeTo(cheque.id)">{{cheque.status.value}}</td>
                    <td class="pointer" data-ng-click="routeTo(cheque.id)">{{cheque.description}}</td>
                    <td class="pointer" data-ng-click="routeTo(cheque.id)">{{cheque.createdDate | DateFormat}}</td>
                    <td class="pointer" data-ng-click="routeTo(cheque.id)">{{cheque.createdByUsername}}</td>
                </tr>
                </tbody>
            </table>
            <dir-pagination-controls boundary-links="true"  pagination-id="cheques" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html" on-page-change="getResultsPage(newPageNumber)"></dir-pagination-controls>
        </div>
    </div>
</div>
