<div class="content-container" ng-controller="ViewChequeController">
    <div>
        <ul class="breadcrumb">
            <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
            <li><a href="#/chequebankaccounts">{{'label.heading.bankaccount' | translate}}</a></li>
            <li><a href="#/viewchequebatch/{{chequeData.batchId}}"> (Batch No: {{chequeData.batchNo}})</a></li>
            <li class="active">{{'label.button.view.cheque' | translate}}</li>
        </ul>
    </div>
    <api-validate></api-validate>
    <div class="card">
        <div class="content">

            <div ng-show="report" class="col-md-12 alert-block span tab-content">
                <div id="printcontent">
                    <iframe id="rptLoadingFrame" ng-src="{{reportURL}}" frameborder="0" width="100%"
                            height="800px"></iframe>
                </div>
                <div class="col-md-13 center">
                    <a id="back" ng-click="reloadPage()" class="btn btn-default">{{'label.button.back' | translate}}</a>
                </div>
            </div>
            <div class="row"></div>
            <div ng-hide="report">
                <div class="toolbar">
                    <h4 class="pull-left">(Cheque No: {{chequeData.chequeNo}})</h4>
                </div>
                <br>
                <div class="col-md-11 col-sm-11 btn-group row pull-left">
                    <a href="#/voidcheque/{{chequeData.batchId}}/cheque/{{chequeData.id}}"
                       class="btn btn-primary btn-offset"
                       data-ng-show="showVoidButton" has-permission='VOID_BANKCHEQUE'><i
                            class="fa fa-edit "></i>{{"label.button.void.cheque" | translate}}
                    </a>
                    <button type="button" class="btn btn-primary" data-ng-click="authorizeVoidance()"
                            data-ng-show="showAuthorizeVoidanceButton" has-permission='AUTHORIZEVOID_BANKCHEQUE'>
                        <i class="fa fa-check "></i>{{"label.button.void.authorize.cheque" | translate}}
                    </button>
                    <a href="#/reassigncheque/{{chequeData.batchId}}/cheque/{{chequeData.id}}"
                       class="btn btn-primary btn-offset"
                       data-ng-show="showReassignButton" has-permission='REASSIGN_BANKCHEQUE'><i
                            class="fa fa-edit "></i>{{"label.button.reassign.cheque" | translate}}
                    </a>
                    <a href="#/approvesingleissuance/{{chequeData.batchId}}/cheque/{{chequeData.id}}"
                       class="btn btn-primary btn-offset"
                       data-ng-show="showApproveIssuanceButton" has-permission='APPROVEISSUANCE_BANKCHEQUE'><i
                            class="fa fa-edit "></i>{{"label.button.approve.issuance.cheque" | translate}}
                    </a>

                    <a href="#/authorizesingleissuance/{{chequeData.batchId}}/cheque/{{chequeData.id}}"
                       class="btn btn-primary btn-offset"
                       data-ng-show="showAuthorizeIssuanceButton" has-permission='AUTHORIZEISSUANCE_BANKCHEQUE'><i
                            class="fa fa-edit "></i>{{"label.button.authorize.issuance.cheque" | translate}}
                    </a>

                    <a data-ng-click="printCheque()" class="btn btn-primary btn-offset"
                       data-ng-show="showPrintButton" has-permission='PRINT_BANKCHEQUE'><i
                            class="fa fa-edit "></i>{{"label.button.print.cheque" | translate}}
                    </a>
                </div>
                <br>
                <hr>
                <table class="table-bordered table view-table" style="width: 500px">
                    <tr>
                        <td>{{'label.heading.bank.account.name' | translate}}</td>
                        <td>{{chequeData.bankAccNo + ' - ' + chequeData.agencyName }}</td>
                    </tr>
                    <tr class="graybg">
                        <td>{{'label.heading.bank.agency.name' | translate}}</td>
                        <td>{{chequeData.agencyName}}</td>
                    </tr>
                    <tr>
                        <td>{{'label.heading.bank.name' | translate}}</td>
                        <td>{{chequeData.bankName}}</td>
                    </tr>
                    <tr class="graybg">
                        <td>{{'label.heading.chequeNo' | translate}}</td>
                        <td>{{chequeData.chequeNo}}</td>
                    </tr>
                    <tr>
                        <td>{{'label.heading.batchNo' | translate}}</td>
                        <td>{{chequeData.batchNo}}</td>
                    </tr>
                </table>

                <br/>
                <table class="table">
                    <thead>
                    <tr class="graybg">
                        <th>{{'label.heading.batchNo' | translate}}</th>
                        <th>{{'label.heading.chequeNo' | translate}}</th>
                        <th>{{'label.heading.status' | translate}}</th>
                        <th>{{'label.heading.createdon' | translate}}</th>
                        <th>{{'label.heading.createdby' | translate}}</th>
                        <th data-ng-show="chequeData.status.id == 3 || chequeData.status.id == 4">
                            {{'label.heading.voidedon' | translate}}
                        </th>
                        <th data-ng-show="chequeData.status.id == 3 || chequeData.status.id == 4">
                            {{'label.heading.voidedby' | translate}}
                        </th>
                        <th data-ng-show="chequeData.status.id == 3">
                            {{'label.heading.voidanceauthorizedon' | translate}}
                        </th>
                        <th data-ng-show="chequeData.status.id == 3">
                            {{'label.heading.voidanceauthorizedby' | translate}}
                        </th>
                        <th data-ng-show="chequeData.status.id == 2">{{'label.heading.printeddate' | translate}}</th>
                        <th data-ng-show="chequeData.status.id == 2">{{'label.heading.printedby' | translate}}</th>
                        <th data-ng-show="chequeData.status.id == 2">{{'label.heading.issueddate' | translate}}</th>
                        <th data-ng-show="chequeData.status.id == 2">{{'label.heading.issuedby' | translate}}</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>{{chequeData.batchNo}}</td>
                        <td>{{chequeData.chequeNo}}</td>
                        <td>{{chequeData.status.code | translate}}</td>
                        <td>{{chequeData.createdDate | DateFormat}}</td>
                        <td>{{chequeData.createdByUsername}}</td>
                        <td data-ng-show="chequeData.status.id == 3 || chequeData.status.id == 4">
                            {{chequeData.voidedDate | DateFormat}}
                        </td>
                        <td data-ng-show="chequeData.status.id == 3 || chequeData.status.id == 4">
                            {{chequeData.voidedByUsername}}
                        </td>
                        <td data-ng-show="chequeData.status.id == 3">{{chequeData.voidAuthorizedDate | DateFormat}}</td>
                        <td data-ng-show="chequeData.status.id == 3">{{chequeData.voidAuthorizedByUsername}}</td>
                        <td data-ng-show="chequeData.status.id == 2">{{chequeData.printedDate | DateFormat}}</td>
                        <td data-ng-show="chequeData.status.id == 2">{{chequeData.printedByUsername}}</td>
                        <td data-ng-show="chequeData.status.id == 2">{{chequeData.issuedDate | DateFormat}}</td>
                        <td data-ng-show="chequeData.status.id == 2">{{chequeData.issuedByUsername}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
