<div class="content-container" ng-controller="DisburseLoanByChequeController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li class="active">{{'label.anchor.disburse.loans.by.cheques' | translate}}</li>
    </ul>
    <script type="text/ng-template" id="assignLoanCheques.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.heading.assign.cheques.to.loans' | translate}}</h3>
        </div>
        <div class="modal-body ">
            <api-validate></api-validate>
            <br>
            <div class="form-group">
                <label for="bankAccId">{{'label.heading.select.bank.account' | translate}}</label>
                <select id="bankAccId"
                        name="bankAccId"
                        ng-model="bankAccId"
                        class="form-control"
                        ng-options="bankAccountData.bankAccId as bankAccountData.accountName for bankAccountData in bankAccountOptions"
                        value="{{bankAccountData.bankAccId}}">
                </select>
            </div>
            <br>
            <button class="btn btn-warning" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="assign()">{{'label.button.assign' | translate}}</button>
        </div>
    </script>
    <api-validate></api-validate>
    <div class="card">
        <div class="content">
            <div class="row">
                <div class="col-sm-8">
                    <div class="toolbar">
                        <h4 class="pull-left">{{'label.anchor.disburse.loans.by.cheques' | translate}}</h4>
                    </div>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary pull-right" ng-click="isCollapsed=!isCollapsed">
                        <i class="fa fa-chevron-down "></i>{{ 'label.button.parameters' | translate }}
                    </button>
                </div>
            </div>
            <br>

            <form ng-submit="search()" class="form-horizontal" ng-show="!isCollapsed">
                <fieldset>
                    <div class="row">
                            <div class="col-sm-6">
                                <div class="pull-left">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">{{'label.input.loan.agency' | translate }}</label>
                                            <div class="col-sm-8">
                                                <select id="agencyId" name="agencyId"
                                                        ng-model="formData.agencyId"
                                                        class="form-control"
                                                        ng-options="agency.id as agency.name for agency in agencyOptions"
                                                        value="{{agency.id}}">
                                                    <option value="">-- {{'label.input.loan.agency' | translate}} --</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-sm-4">{{'label.selectcenter' | translate }}</label>
                                            <div class="col-sm-8">
                                                <select id="centerId" name="centerId" chosen="centerOptions"
                                                        ng-model="formData.centerId"
                                                        class="form-control"
                                                        data-ng-change="filterGroups()"
                                                        ng-options="center.id as center.name for center in centerOptions"
                                                        value="{{center.id}}">
                                                    <option value="">-- {{'label.selectcenter' | translate}} --</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-sm-4">{{'label.heading.clientno' | translate}}</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="clientNo" name="clientNo" ng-model="formData.clientNo" class="form-control" placeholder="{{'label.heading.clientno' | translate}}"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-sm-4">{{'label.heading.isindividualbusinessloan' | translate}}</label>
                                            <div class="col-sm-8">
                                                <input type="checkbox" id="isIndividualBusinessLoan"  ng-model="formData.isIndividualBusinessLoan">
                                            </div>
                                        </div>

                                        <div class="form-group ">
                                            <label class="control-label col-sm-4">{{'label.input.approvalstartdate' | translate}}</label>
                                            <div class="col-sm-8">
                                                <input id="approvalStartDate" type="text" name="approvalStartDate" datepicker-pop="dd MMMM yyyy"
                                                       ng-model="formData.approvalStartDate" is-open="opened1" max="restrictDate"  class="form-control"/>
                                            </div><br><br>
                                        </div>

                                        <div class="form-group ">
                                            <label class="control-label col-sm-4">{{'label.input.approvalenddate' | translate}}</label>
                                            <div class="col-sm-8">
                                                <input id="approvalEndDate" type="text" name="approvalEndDate" datepicker-pop="dd MMMM yyyy"
                                                       ng-model="formData.approvalEndDate" is-open="opened1" max="restrictDate"  class="form-control"/>
                                            </div><br><br>
                                        </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="pull-left">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">{{'label.input.facilitator' | translate }}</label>
                                            <div class="col-sm-8">
                                                <select id="facilitatorId" name="facilitatorId" chosen="facilitatorOptions"
                                                        ng-model="formData.facilitatorId"
                                                        class="form-control"
                                                        ng-options="responsibleUser.id as responsibleUser.firstname + ' ' + responsibleUser.lastname + ' (' + responsibleUser.username + ')' for responsibleUser in facilitatorOptions"
                                                        value="{{facilitator.id}}">
                                                    <option value="">-- {{'label.input.facilitator' | translate}} --</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-sm-4">{{'label.menu.selectgroup' | translate }}</label>
                                            <div class="col-sm-8">
                                                <select id="groupId" name="groupId" chosen="groupOptions"
                                                        ng-model="formData.groupId"
                                                        class="form-control"
                                                        ng-options="group.id as group.name for group in groupOptions"
                                                        value="{{group.id}}">
                                                    <option value="">-- {{'label.menu.selectgroup' | translate}} --</option>
                                                </select>
                                            </div>
                                        </div>

                                    <div class="form-group">
                                        <label class="control-label col-sm-4">{{'label.menu.disbursementmethod' | translate }}</label>
                                        <div class="col-sm-8">
                                            <select id="disbursementmethod" name="disbursementmethod"
                                                    ng-model="formData.disbursementMethodId"
                                                    class="form-control"
                                                    ng-options="method.id as method.value for method in disbursementMethodOptions"
                                                    value="{{method.id}}">
                                                <option value="">-- {{'label.menu.disbursementmethod' | translate}} --</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group ">
                                        <label class="control-label col-sm-4">{{'label.input.disbursementstartdate' | translate}}</label>
                                        <div class="col-sm-8">
                                            <input id="disbursementStartDate" type="text" name="disbursementStartDate" datepicker-pop="dd MMMM yyyy"
                                                   ng-model="formData.disbursementStartDate" is-open="opened1" max="restrictDate"  class="form-control"/>
                                        </div><br><br>
                                    </div>

                                    <div class="form-group ">
                                        <label class="control-label col-sm-4">{{'label.input.disbursementenddate' | translate}}</label>
                                        <div class="col-sm-8">
                                            <input id="disbursementEndDate" type="text" name="disbursementEndDate" datepicker-pop="dd MMMM yyyy"
                                                   ng-model="formData.disbursementEndDate" is-open="opened1" max="restrictDate"  class="form-control"/>
                                        </div><br><br>
                                    </div>

                                </div>
                            </div>

                    </div>
                    <div class="col-md-offset-3 pull-right">
                        <button id="search" type="submit" class="btn btn-primary">{{'label.button.searchdata' | translate}}</button>
                    </div>
                </fieldset>
            </form>

            <br/>

            <form name="disburseByChequesForm" novalidate="" ng-submit="disburseByCheques()">
                <ui-validate></ui-validate>
               <div scroll>
                <table class="table">
                    <thead>
                        <tr class="graybg">
                            <th>{{'label.heading.loanaccount' | translate}}</th>
                            <th>{{'label.heading.centerName' | translate}}</th>
                            <th>{{'label.heading.groupname' | translate}}</th>
                            <th>{{'label.heading.contract' | translate}}</th>
                            <th>{{'label.heading.clientname' | translate}}</th>
                            <th>{{'label.heading.productname' | translate}}</th>
                            <th>{{'label.heading.firstinstallmentdate' | translate}}</th>
                            <th>{{'label.heading.approvedamount' | translate}}</th>
                            <th>
                                <div class="checkbox form-group">
                                    <label for="allLoansSelected">
                                        <input type="checkbox" id="allLoansSelected" name="allLoansSelected" ng-model="allLoansSelected" data-ng-change="selectAllLoans()">
                                    </label>
                                </div>
                            </th>
                            <th>{{'label.heading.actual.guarantee.amount' | translate}}</th>
                            <th>{{'label.heading.required.guarantee.amount' | translate}}</th>
                            <th>{{'label.heading.return.guarantee.amount' | translate}}</th>
                            <th>{{'label.heading.deposit.guarantee.amount' | translate}}</th>
                            <th>{{'label.heading.deposit.number' | translate}}</th>
                            <th>{{'label.heading.description' | translate}}</th>
                            <th>{{'label.heading.chequeNo' | translate}}</th>
                            <th><div></div></th>
                            <th><div></div></th>
                            <th><div></div></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="loanAccount in approvedLoanAccounts track by $index">
                            <td>{{loanAccount.accountNo}}</td>
                            <td>{{loanAccount.group.centerName}}</td>
                            <td>{{loanAccount.group.name}}</td>
                            <td>{{loanAccount.contractNo}}</td>
                            <td>{{loanAccount.clientName}}</td>
                            <td>{{loanAccount.loanProductName}}</td>
                            <td>{{loanAccount.expectedFirstRepaymentOnDate | DateFormat}}</td>
                            <td>{{loanAccount.approvedPrincipal | FormatNumber:2}}</td>
                            <td>
                                <div class="checkbox form-group">
                                    <label for="isSelected">
                                        <input type="checkbox" id="isSelected" name="isSelected" ng-model="loanAccount.isSelected">
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="form-group" ng-show="loanAccount.isSelected">
                                    <div class="input-group" style="width: 120px">
                                        <input id="actualGuaranteeAmount" type="text" name="actualGuaranteeAmount" number-format ng-model="loanAccount.actualGuaranteeAmount" disabled class="form-control" required late-Validate/>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group" ng-show="loanAccount.isSelected">
                                    <div class="input-group"  style="width: 120px">
                                        <input id="requiredGuaranteeAmount"  disabled type="text" class="form-control" name="requiredGuaranteeAmount" ng-model="loanAccount.requiredGuaranteeAmount" required="required"
                                               number-format ng-late-Validate>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group" ng-show="loanAccount.isSelected">
                                    <div class="input-group"  style="width: 120px">
                                        <input id="returnGuaranteeAmount" type="text" class="form-control" name="returnGuaranteeAmount" ng-model="returnGuaranteeAmount" ng-value="calculateDiffWithZeroDefault(loanAccount.actualGuaranteeAmount, loanAccount.requiredGuaranteeAmount) | FormatNumber:2" disabled>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group" ng-show="loanAccount.isSelected">
                                    <div class="input-group" style="width: 120px">
                                        <input id="depositGuaranteeAmount" type="text" class="form-control" name="depositGuaranteeAmount" ng-model="depositGuaranteeAmount" ng-value="calculateDepositAmount(loanAccount.requiredGuaranteeAmount, loanAccount.actualGuaranteeAmount) | FormatNumber:2" disabled>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group" ng-show="loanAccount.isSelected">
                                    <div class="input-group" style="width: 100px">
                                        <input id="depositGuaranteeNo" type="text" class="form-control" name="depositGuaranteeNo" ng-model="loanAccount.depositGuaranteeNo" required ng-late-Validate>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group" ng-show="loanAccount.isSelected">
                                    <div class="input-group">
                                        <textarea id="description" name="description" ng-model="loanAccount.description"
                                              class="form-control"  required late-validate></textarea>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group" ng-show="isChequeAssigned">
                                    <div uib-tooltip-placement="left" uib-tooltip="{{loanAccount.chequeData.chequeName}}">
                                        <i>{{loanAccount.chequeData.chequeNo}}</i>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
               </div>
                <br>
                <div class="col-md-offset-2 paddedleft">
                    <a id="cancel" href="#/organization" class="btn btn-default">{{'label.button.cancel' | translate}}</a>
                    <a ng-disabled="isAssignBtnDisabled()" ng-click="assignLoanCheques()" class="btn btn-primary" has-permission='DISBURSEBYCHEQUES_LOAN'><i class="fa fa-tasks "></i>&nbsp;&nbsp;{{
                        'label.button.assigncheques' | translate }}</a>
                    <button ng-disabled="!isChequeAssigned"  id="save" type="submit" class="btn btn-primary" has-permission='DISBURSEBYCHEQUES_LOAN'>{{'label.button.save' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
