<div class="content-container" ng-controller="ViewAccountingClosureController">
        <ul class="breadcrumb">
            <li><a href="#/accounting">{{'label.anchor.accounting' | translate}}</a></li>
            <li><a href="#/accounts_closure">{{'label.anchor.accountclosure' | translate}}</a></li>
            <li class="active">{{'label.anchor.viewclosure' | translate}}</li>
        </ul>
    <script type="text/ng-template" id="deleteacc.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.heading.delete' | translate}}</h3>
        </div>
        <div class="modal-body ">
            <api-validate></api-validate>
            <br>            
            <button class="btn btn-default" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="delete()">{{'label.button.confirm' | translate}}</button>
        </div>
    </script>
    <div class="card">
    	    <div class="content">
    	    	<div class="toolbar">
    	    		<h4>{{ 'label.heading.viewaccountingclosures' | translate }}</h4>
    	    	</div>
    	    	<div class="row">
    	    		<div class="col-md-6"></div>
					<div class="col-md-6">
    	    			<button class="pull-right btn btn-danger ml-1" data-ng-click="deleteAcc()" has-permission='DELETE_GLCLOSURE'><i class="fa fa-trash-o"></i>&nbsp;&nbsp;{{'label.button.delete' | translate }}
    	    			</button>
						<button class="pull-right btn btn-primary ml-1" data-ng-click="editClosure()"
								has-permission='UPDATE_GLCLOSURE'><i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;{{isEditClosure?'label.button.cancel':'label.button.edit' | translate }}
						</button>
    	    		</div>
    	    	</div>
    	        <div class="row">
    		        <div class="col-md-6">
    		            <table class="table table-bordered table-striped">
    		                <tr>
    		                    <td><strong>{{ 'label.heading.office' | translate }}:</strong></td>
    		                    <td>{{accountClosure.officeName}}</td>
    		                </tr>
    		                <tr>
    		                    <td><strong>{{ 'label.heading.closuredate' | translate }}:</strong></td>
    		                    <td ng-if="!isEditClosure">{{accountClosure.closingDate | DateFormat}}</td>
    		                    <td ng-if="isEditClosure">
									<input class="form-control" id="closingDate" type="text" datepicker-pop="dd MMMM yyyy" ng-model="formData.closingDate"
										   is-open="opened" min="'2000-01-01'" max="restrictDate" />
								</td>
    		                </tr>
    		                <tr>
    		                    <td><strong>{{ 'label.heading.closedby' | translate }}:</strong></td>
    		                    <td>{{accountClosure.createdByUsername}}</td>
    		                </tr>
    		                <tr>
    		                    <td><strong>{{ 'label.heading.updatedby' | translate }}:</strong></td>
    		                    <td>{{accountClosure.lastUpdatedByUsername}}</td>
    		                </tr>
    		                <tr>
    		                    <td><strong>{{ 'label.heading.updatedon' | translate }}:</strong></td>
    		                    <td>{{accountClosure.lastUpdatedDate | DateFormat}}</td>
    		                </tr>
    		                <tr>
    		                    <td><strong>{{ 'label.heading.closurecreationdate' | translate }}:</strong></td>
    		                    <td>{{accountClosure.createdDate | DateFormat}}</td>
    		                </tr>
    		                <tr>
    		                    <td><strong>{{ 'label.heading.comments' | translate }}:</strong></td>
    		                    <td ng-if="!isEditClosure">{{accountClosure.comments}}</td>
    		                    <td ng-if="isEditClosure">
									<textarea rows="2" ng-model="formData.comments" class="form-control"></textarea>
								</td>

    		                </tr>
    		            </table>
						<div class="col-md-6" ng-if="isEditClosure">
							<button class="pull-right btn btn-success" data-ng-click="updateClosure()"
									has-permission='UPDATE_GLCLOSURE'><i class="fa fa-save"></i>&nbsp;&nbsp;{{'label.button.submit' | translate }}
							</button>
						</div>
    		    	</div>
    		    </div>
    		</div>
    </div>
</div>
