<div class="content-container">
	<ul class="breadcrumb">
		<li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
		<li><a href="#/portfolios">{{'label.anchor.manageportfolioCenters' | translate}}</a></li>
		<li class="active">{{'label.anchor.editportfoliocenter' | translate}}</li>
	</ul>
	<div class="card">
		<div class="content">
			<form name="editportfoliocenterform" novalidate="" class="form-horizontal"
				  ng-controller="EditPortfolioCenterController"
				  rc-submit="submit()">
				<api-validate></api-validate>
				<fieldset>
					<legend>{{'label.heading.editportfoliocenter' | translate}}</legend>
					<!--portfolio name-->
					<div class="form-group">
						<label class="control-label col-sm-2">{{ 'label.input.portfolio' | translate }}<span class="required">*</span></label>
						<div class="col-sm-3">
							<input id="portfolioName" type="text" name="portfolioName" ng-model="formData.portfolioName" class="form-control" disabled
								   required late-Validate/>
						</div>
						<div class="col-sm-3">
							<form-validate valattributeform="editportfoliocenterform" valattribute="portfolioName"/>
						</div>
					</div>
					<!--portfolio center name-->
					<div class="form-group">
						<label class="control-label col-sm-2">{{ 'label.input.centerName' | translate }}<span
								class="required">*</span></label>
						<div class="col-sm-3">
							<input id="name" ng-autofocus="true" type="text" name="name" ng-model="formData.name" class="form-control" readonly
								   required late-Validate/>
						</div>
						<div class="col-sm-3">
							<form-validate valattributeform="editportfoliocenterform" valattribute="name"/>
						</div>
					</div>
					<!--legacy center number-->
					<div class="form-group">
						<label class="control-label col-sm-2">{{ 'label.input.centerLegacyNumber' | translate }}</label>
						<div class="col-sm-3">
							<input id="centerLegacyNumber" type="text" name="centerLegacyNumber" ng-model="formData.legacyCenterNumber" class="form-control"/>
						</div>
					</div>
					<!--city-->
					<div class="form-group">
						<label class="control-label col-sm-2">{{ 'label.input.centerCity' | translate }}</label>
						<div class="col-sm-3">
							<select id="cityId" ng-model="formData.cityId" class="form-control" name="cityId"
									ng-options="city.id as city.name for city in cityOptions"
									value="{{city.id}}"></select>
						</div>
					</div>
					<!--department-->
					<div class="form-group">
						<label class="control-label col-sm-2">{{ 'label.input.centerDepartment' | translate }}</label>
						<div class="col-sm-3">
							<select id="stateId" ng-model="formData.stateId" class="form-control" name="stateId"
									ng-options="state.id as state.name for state in stateOptions"
									value="{{state.id}}"></select>
						</div>
					</div>
					<!--reference point-->
					<div class="form-group">
						<label class="control-label col-sm-2">{{ 'label.input.centerReferencePoint' | translate }}</label>
						<div class="col-sm-3">
							<input id="centerReferencePoint" type="text" name="centerReferencePoint" ng-model="formData.referencePoint" class="form-control"/>
						</div>
					</div>
					<!--center type-->
					<div class="form-group">
						<label class="control-label col-sm-2">{{ 'label.input.centerType' | translate }}</label>
						<div class="col-sm-3">
							<select id="centerType" ng-model="formData.centerTypeId" class="form-control" name="centerTypeId"
									ng-options="type.id as type.name for type in typeOptions">
								value="{{type.id}}"></select>
							<!-- <option value="">{{'label.selectcentertype' | translate}}</option> -->
						</div>
					</div>
					<!--center status-->
					<div class="form-group">
						<label class="control-label col-sm-2">{{ 'label.input.centerStatus' | translate }}<span class="required">*</span></label>
						<div class="col-sm-3">
							<select id="status" ng-model="formData.statusId" class="form-control" name="statusId"
									ng-options="statusOption.id as statusOption.code | translate for statusOption in statusOptions"
									value="{{statusOption.id}}"></select>
						</div>
						<div class="col-sm-3">
							<form-validate valattributeform="editportfoliocenterform" valattribute="status"/>
						</div>
					</div>
					<!--distance-->
					<div class="form-group">
						<label class="control-label col-sm-2">{{ 'label.input.centerDistance' | translate }}</label>
						<div class="col-sm-3">
							<input id="distance" type="text" name="distance" ng-model="formData.distance" class="form-control"/>
						</div>
					</div>
					<!--meeting day-->
					<div class="form-group">
						<label class="control-label col-sm-2">{{ 'label.input.centerMeetingDay' | translate }}<span class="required">*</span></label>
						<div class="col-sm-3">
							<select id="meetingDay" ng-model="formData.meetingDay" class="form-control" name="meetingDay"
									ng-options="meetingDayOption.id as meetingDayOption.name for meetingDayOption in meetingDayOptions"
									value="{{meetingDayOption.id}}"></select>
						</div>
						<div class="col-sm-3">
							<form-validate valattributeform="editportfoliocenterform" valattribute="meetingDay"/>
						</div>
					</div>
					<!--meeting start / end-->
					<div class="form-group">
						<label class="control-label col-sm-2">{{ 'label.input.meetingStartTime' | translate }}</label>
						<div class="col-sm-3">
							<input id="meetingStartTime" type="time" placeholder="HH:MM:SS" name="meetingStartTime" ng-model="formData.meetingStartTime" class="form-control"/>
						</div>
						<label class="control-label col-sm-2">{{ 'label.input.meetingEndTime' | translate }}</label>
						<div class="col-sm-3">
							<input id="meetingEndTime" type="time" placeholder="HH:MM:SS" name="meetingEndTime" ng-model="formData.meetingEndTime" class="form-control"/>
						</div>
					</div>
					<!--created date-->
					<div class="form-group">
						<label class="control-label col-sm-2">{{ 'label.input.centercreateddate' | translate }}</label>
						<div class="col-sm-3">
							<input id="createdDate" sort type="text" datepicker-pop="dd MMMM yyyy" ng-model="formData.createdDate"
								   class="form-control" is-open="opened" min="minDate" max="restrictDate" disabled/>
						</div>
					</div>
					<!--cancel / submit buttons-->
					<div class="col-md-offset-3">
						<a id="cancel" href="#/viewportfolio/{{portfolioId}}">
							<button type="reset" class="btn btn-default">{{'label.button.cancel' | translate}}</button>
						</a>
						<button id="save" type="submit" class="btn btn-primary" has-permission='UPDATE_PORTFOLIO_CENTER'>{{'label.button.save' | translate}}</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>