<div class="content-container" ng-controller="PortfoliosController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li class="active">{{'label.anchor.manageportfolios' | translate}}</li>
    </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <div class="pull-right">
                    <a href="#/createportfolio" class="btn btn-primary" has-permission='CREATE_PORTFOLIO'><i class="fa fa-plus "></i>&nbsp;&nbsp;{{'label.button.createportfolio' | translate}}</a>&nbsp;&nbsp;
                </div>
            </div>
            <br>
            <div class="clear"></div>
            <div class="row">
                <div class="col-sm-6">
                    <form ng-submit="searchByName()" class="form-horizontal">
                        <div class="pull-left">
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="input-group" style="width: 400px">
                                        <input data-ng-model="searchText" type="text"
                                               placeholder="{{'label.input.searchByName' | translate}}"
                                               class="form-control unstyled"/>
                                        <span class="input-group-btn">
                                            <button type="submit"  class="btn btn-primary form-control" ng-disabled="!searchText">
                                                <span class="fa fa-search"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div>
                 <table class="table">
                    <thead>
                    <tr class="graybg">
                        <th>{{'label.heading.officeName' | translate}}</th>
                        <th>{{'label.heading.parentoffice' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="pointer-main" dir-paginate="portfolio in portfolios | orderBy:'name':reverse  | filter:filterText |  itemsPerPage: PortfoliosPerPage">
                        <td class="pointer" data-ng-click="routeTo(portfolio.id)">{{portfolio.name}}</td>
                        <td class="pointer" data-ng-click="routeTo(portfolio.id)">{{portfolio.parentName}}</td>
                    </tr>
                    </tbody>
                </table>
                <dir-pagination-controls boundary-links="true" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
            </div>
        </div>
    </div>
</div>