<div class="content-container" ng-controller="ViewHardPolicyChecklistController">
    <ul class="breadcrumb">
        <li><a href="#/viewgroup/{{groupId}}">{{'label.anchor.viewgroup' | translate}}</a></li>
        <li class="active">{{ 'label.heading.hardpolicychecklist' | translate}}</li>
    </ul>
    <div class="card">
        <div class="content">
            <br>
            <div class="row">
                <div class="col-sm-5">
                    <form ng-submit="search()" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-10">
                                <div class="input-group">
                                    <input data-ng-model="searchText" type="text" placeholder="{{'label.input.searchByNameExternalId' | translate}}" class="form-control"/>
                                    <br>
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary form-control">
                                            <span class="fa fa-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-5" data-ng-show="!showChecklistTable">
                    <a href="#/createhardpolicychecklist/{{groupId}}" class="btn btn-primary pull-right" has-permission='UPDATE_GROUP'><i class="fa fa-plus "></i>{{'label.button.createhardpolicychecklist' | translate}}</a>
                </div>
                <div class="col-sm-5" data-ng-show="showChecklistTable">
                    <a href="#/edithardpolicychecklist{{checklistId}}" class="btn btn-primary pull-right" has-permission='UPDATE_GROUP'><i class="fa fa-edit "></i>{{'label.button.edithardpolicychecklist' | translate}}</a>
                </div>
            </div>
            <div class="toolbar"><h4>{{ 'label.heading.clientshardpolicychecklist' | translate}}</h4></div>
            <div data-ng-show="showChecklistTable" scroll>
                <table style="width: 1200px;white-space:nowrap" class="table table-bordered" data-anchor>
                    <thead>
                    <tr class="graybg">
                        <th>{{'label.heading.clientname' | translate}}</th>
                        <th> {{'label.heading.clientno' | translate}}</th>
                        <th> {{'label.heading.newclientcategorization' | translate}}</th>
                        <th>{{'label.heading.recurringcustomercategorization' | translate}}</th>
                        <th>{{'label.heading.mandatoryphotograph' | translate}}</th>
                        <th>{{'label.heading.clientage' | translate}}</th>
                        <th>{{'label.heading.noOfMembersAccordingToPolicy' | translate}}</th>
                        <th>{{'label.heading.minAndMaxAmount' | translate}}</th>
                        <th>{{'label.heading.disparityOfValues' | translate}}</th>
                        <th>{{'label.heading.percentageOfMembersStartingBusiness' | translate}}</th>
                        <th>{{'label.heading.percentageOfMembersWithTheirOwnHome' | translate}}</th>
                        <th>{{'label.heading.chairmanOfTheBCBoardOfDirectors' | translate}}</th>
                        <th>{{'label.heading.categoriesOfClientToAccept' | translate}}</th>
                        <th>{{'label.heading.requestedAmount' | translate}}</th>
                        <th>{{'label.heading.addEndorsement' | translate}}</th>
                        <th>{{'label.heading.paymentsOutsideCurrentTerm' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="pointer-main" dir-paginate="group in groups | orderBy:'name':reverse  | filter:filterText | itemsPerPage: groupsPerPage" total-items="totalGroups" pagination-id="groups" ng-show="group.status.code != 'clientStatusType.closed' || showClosed">
                        <td class="pointer" data-ng-click="routeTo(group.id)">{{group.name}}</td>
                        <td class="pointer" data-ng-click="routeTo(group.id)">{{group.accountNo}}</td>
                        <td class="pointer" data-ng-click="routeTo(group.id)">{{group.externalId}}</td>
                        <td class="pointer" data-ng-click="routeTo(group.id)">
                            <i class="fa fa-stop {{group.status.code | StatusLookup}}" uib-tooltip="{{group.status.value}}" uib-tooltip-placement="top">
                            </i>
                        </td>
                        <td data-ng-click="routeTo(group.id)">{{group.officeName}}</td>
                    </tr>
                    </tbody>
                </table>
                <dir-pagination-controls boundary-links="true"  pagination-id="groups" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html" on-page-change="getResultsPage(newPageNumber)"></dir-pagination-controls>
            </div>
            </div>
        </div>
    </div>
</div>
